/* global styles*/
@font-face {
  font-family: 'PT Sans Narrow';
  src:
    url(../fonts/ptsansnarrow.woff) format('woff'),
    url(../fonts/ptsansnarrow.woff2) format('woff2'),
    url(../fonts/ptsansnarrowbold.woff) format('woff'),
    url(../fonts/ptsansnarrowbold.woff2) format('woff2');
}

body{
  margin: 0;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.main-body{
  color: #ffffff;

  background-color: #151515;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.advanced-body{
  background-color: #ffffff;
  background-image: url(../img/fon.jpg);
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

.page{
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}


      /*buttons*/
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 45px;


  background-color: #000000;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover, .button:active{
  background-color: #663d15;
}

.active-btn{
  background-color: #ffffff;
  color: #000000;
}

.active-btn:hover{
  background-color: #ffffff;
}

      /*breadcrumbs*/
.breadcrumbs{
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-list__item{
  display: inline-block;
}

.breadcrumbs-list__item:not(:last-child)::after{
  content: "";
  display: inline-block;
  position: relative;
  bottom: 2px;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  background-color: #000000;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;

}

.breadcrumbs-list__item a{
  color: #000000;
}

.breadcrumbs-list__item:last-child{
  color: #ABA9A7;
}
